

html { 
  --color-light:#FFFEFC; 
  --color-dark:#EEE; 
  --color-base: 255, 254, 252;
  --color-contrast: 17, 17, 17;
  --color-contrast-s:#333; 
  --color-contrast-xs:#444; 
  font-family: "HelveticaNeue-Medium", Helvetica Neue, Helvetica, Arial, sans-serif; 
  background-color: rgb(var(--color-base));
  color: rgb(var(--color-contrast));
}

@media (prefers-color-scheme: dark) {
  html {
  --color-dark:#171717; 
  --color-base: 17, 17, 17;
  --color-contrast: 255, 254, 252;
  --color-contrast-s: #EEE;
  --color-contrast-xs: #BAB9B9;
  }
  html .page { 
    background-image:  linear-gradient(rgba(var(--color-base), .80) 25%, rgba(var(--color-base),1) 100%), var(--bg);
  }
}

body { margin: 0; line-height: 1.6; }

a { text-decoration: none; color: var(--color-contrast-s);}
a:hover { color: rgb(var(--color-contrast)); }

footer { margin: 10px; opacity: .5; font-size: .8rem; color: var(--color-contrast-xs); }
footer a { color: rgb(var(--color-contrast));}
footer a:hover { color: rgb(var(--color-contrast));background-color:var(--color-dark);}


.page { 
  --bg: "";
  display:grid; 
  grid-template-rows: 10px 3rem 4rem 1fr;
  grid-template-columns: 10px 50px 1fr 50px 10px ;
  grid-template-areas: ". . . . ." " . navprev logo navnext . " ". . . . ." "image image image image image" ". content content content .";
  background:  linear-gradient(rgba(var(--color-base), .90) 25%, rgba(var(--color-base),1) 100%) no-repeat 0 100%, var(--bg) no-repeat 0% 100%;
  background-size: cover;
  margin: 0 0 7rem;
}

.photo-main {background-color: var(--color-dark); grid-area: image; }
.photo-main > img { max-height: 90vh; max-width: 100%; box-shadow: 20px 0 0 0 rgb(var(--color-base)); vertical-align: bottom;  }

.header { grid-area: logo; text-transform: uppercase; align-self: center; justify-self: center; }
.header #logo { vertical-align: -0.4rem; }

.photolist { display: flex; flex-wrap: wrap; gap: 10px; }
.photolist img {max-height:115px;}
.photo-title { 
  font-size: 1rem;
  text-transform: uppercase;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "Arial Narrow", Helvetica, Arial, sans-serif;
  font-stretch: condensed;
  font-weight: 900;
  margin: 10rem 0 0;
  color: var(--color-contrast-s);
}

.photo-description {
  margin: 0 0 3rem;
  color: var(--color-contrast-xs);
  max-width: max(500px, 50%);
}

.photo-description a {
  text-decoration: underline;
}

.photo-meta {
  margin: 0 0 3rem;
  font-size: .8rem;
  color:#888;
}

.photo-location {
  margin-top: .5rem;
  font-size: .8rem;
  text-transform: uppercase;
  color: #888;
}

.page-date {
  margin: 0 0 3rem;
  font-size: .8rem;
  text-transform: uppercase;
  color: #888;
}

.content { grid-area: content; }

.nav {
  display: flex;
  align-items: center;
  font-size: .8rem;
  text-transform: uppercase; 
  color: #888;
}

.nav > svg {
  margin: 10px;
}

.nav > span {
  display:none;
}


.nav-previous { grid-area: navprev; }
.nav-next { grid-area: navnext; }
    
.site-title {
  text-transform: uppercase;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "Arial Narrow", Helvetica, Arial, sans-serif;
  font-stretch: condensed;
  font-weight: 900;
}

@media (min-width: 700px) {
  footer {
    margin: 20px 50px;
  }
  .page {
    grid-template-rows: 40px 2rem 4rem 1fr;
    grid-template-columns: 50px 1fr 50px;
    grid-template-areas: ". . ." " . logo . " ". . ." "navprev image navnext" ". content .";
  }

  .header {
    justify-self: start;
  }

  .photolist { gap: 20px; }
  .photolist img {max-height:200px;}
  .nav {
    justify-self: center;
    flex-direction: column;
  }

  .nav > span {
  
    display: unset;
  }
  .nav-next {
    align-self: end;
    margin-bottom: 0;
  }
  .nav-previous > span {
    writing-mode: vertical-rl;
  }

  .nav-next > span {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }


}


