---

---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Photos by Snook</title>
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="Photos by Snook">

  <meta property="og:url" content="https://photos.snook.ca/">
  <meta property="og:title" content="Photos by Snook">
  <meta property="og:type" content="article">
  <meta property="og:description" name="description" content="Sharing the world through my eyes.">
  <meta property="og:image" content="https://photos.snook.ca/img/2020/greenville_thumb.jpg">
  <meta name="twitter:card" content="summary_large_image"> 
</head>
<body>
 
  <div class="page">
    <div class="header">
          <svg id="logo" width="24px" height="24px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g transform="translate(-110, -110)" fill="currentColor"><path d="M136.031014,116.543279 C130.714826,121.878296 128.604766,127.807593 126.23525,135.638587 C124.73941,140.660256 121.866868,143.961213 118.546899,144.482559 L116.704236,144.69596 C116.26475,147.181132 116,149.728434 116,152.343267 C116,154.088291 116.132375,155.806301 116.333585,157.5 L118.928139,157.41626 C127.850227,157.151536 134.008321,151.703065 137.743949,140.787216 C138.125189,139.728316 141.058623,125.846468 148.450454,124.522843 L150.295764,124.30404 C150.73525,121.818868 151,119.271566 151,116.659434 C151,114.911709 150.864977,113.193699 150.666415,111.5 L148.069213,111.58374 C148.069213,111.58374 141.024206,111.527013 136.031014,116.543279 Z" id="Combined-Shape"></path></g>
          </svg>
      Photos
    </div>
    <div class="content">
      <div class="photolist">
      {%- for photo in collections.photo | reverse -%}
      <div class="photolist-photo"><a href="{{ photo.url }}"><img loading="lazy" src="/img/{{ photo.data.imgthumb }}" height="200" alt="{{ photo.data.title }}"></a></div>
      {%- endfor -%}
      </div>
    </div>
  </div>


  <footer>
      <p class="site-title">Photos by Snook</p>
      <p>&copy; <a href="https://snk.ms/">Jonathan Snook</a>. Subscribe to the <a href="/feed.xml">RSS Feed</a>. Map outlines provided by <a href="https://www.mapbox.com">Mapbox</a>.</p>
  </footer>
</body>
</html>
